<div class="grid place-items-center ring-offset-rose-950 text-fuchsia-900 dark:text-violet-200"><h1
    class="mt-6 font-display text-4xl tracking-tight w-fit pb-48">Pages</h1>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4">
        {{{publicationList}}}
    </div>
    
</div>


<a class="bg-rose-600"></a>
<a class="bg-orange-700"></a>
<a class="bg-emerald-600"></a>
